<div class="row ">
  <br>

  <div class="col-md-12 blog-space " id="<%= action_name  %>" >
    <h4 class="blog-title"><%= link_to blog.title, blog %> </h4>
    <div class="row">
      <div class="col-md-12 blog-content">
        <div class="content">
          <%= render blog.content  %>
        </div>
        <div class="content-top">
        </div>
        <button class="btn btn-default read">Read More</button>
        <ul class="list-inline">
          <li><%= time_of_creation(blog.created_at)  %></li>
          <li><button class="btn btn-link">
          <i class="glyphicon glyphicon-comment"></i>
           <%=  pluralize(blog.comments.count , "Comment")  %></button>
          </li>
          <% if params[:admin] == "raj" %>
          <li> <%= link_to "edit",edit_blog_path(blog, admin: "raj")  %></li>
          <li> <%= link_to "delete", blog, method: :delete,data:{confirm: "are you sure?"} %></li>
          <% end %>
        </ul>
      <div class=" col-md-12 comment">
      <%= render 'comments/comment_panel' , blog: blog %>
      </div>
      </div>
    </div>
  </div>
</div>
<hr>

