<div id="projects"> Projects </div>

<div class="project_list">
<ul class="recode">
<%= link_to (image_tag asset_path('lafamos.png'),width: "30%",height: "30%"),"http://www.lafamos.com",target: "_blank" %>
<div class="pro_det">
<li>
  <b>Stack: Rails , MySQL, Thin. Hosted on Heroku</b>
</li>
<li>
Maintaining the website. Does feature additions, bug fixes and upgrades.
</li>
<li>
LaFamos is a US entertainment PR and branding firm with a commitment to helping
creative professionals take advantage of today's new digital era.
</li>
<li>
Tasks: Migration from rails 3 to rails 4 , shift to 3rd party APIs like <b>Filestack</b> to reduce server load , developing
internal tools to make certain tasks easier, etc..
</li>
</div>
</ul>
</div>


<div class="project_list">
<ul class="recode">
<%= image_tag(asset_path("trello.png"), class: "trello", width: "5%",height: "5%") %>
<%= link_to "Warpello","http://warpello.herokuapp.com/", target: "_blank", class: "warpello" %>
<div class="pro_det">
<li>
  <b>Stack: Rails , Postgres, WEBrick . Hosted on Heroku</b>
</li>
<li>A utility tool for Trello to automate certain tasks using <b>Trello API</b> and <b> webhooks</b> </li>
<li>Warp tunnel: Create a tunnel between two boards to easily tansfer cards between them</li>
<li>Time warp: Move cards between predefined lists according to its due date </li>
<li>Auto assign: Assign users to cards according to its due date</li>
<li>Auto sort: Create tasks for lists to sort cards  based on its due date and label them</li>
</div>
</ul>
</div>


<div class="project_list">
<ul class="recode">
<%= image_tag asset_path('logo.png'),width: "25%",height: "25%" %>
<div class="pro_det">
<li><b>Stack: Rails, Postgres, Puma, Heroku</b></li>
<li>
Fullstack developer for a U.S. based startup - Recode360 .
</li>
<li>
Developed an E-commerce marketplace for vendors to sell variety of products.
</li>
<li>
E-commerce platform was created as a rails engine which can be integrated to any rails project.
</li>
<li>
A recipe publishing platform is developed (foodsy) through which both recipes and ingredients
can be sold with a single click.
</li>
<li>
<b> Stripe </b> connect is used for setting up the marketplace payment gateway and Stripe relay is used
for providing more platforms like twitter,pinterest to sell products.
</li>
</div>
</ul>
</div>

<div class="project_list">
<ul class="recode">
<%= image_tag(asset_path("com.png"), class: "trello", width: "5%",height: "5%") %>
<%= link_to "Portfolio",root_path, target: "_blank", class: "warpello" %>
<div class="pro_det">
<li>
<b>Stack: Rails, Postgres, Nginx, Puma, Amazon Web Service</b>
</li>
<li>Nginx webserver is used as a reverse proxy with Puma app server and is used to serve pages directly from the cache. <b> Capistrano </b> for deployment</li>
<li>Designing tools such as <b> Fancy box </b>,<b> Font awesome </b> are used to make the design elegant</li>
<li>Personal Blog is integrated into the page</li>
</div>
</ul>
</div>


<div class="project_list">
<ul class="recode">
<%= image_tag(asset_path("3.png"), class: "trello") %>
<span class="warpello">masterjis.com</span>
<div class="pro_det">
<li><b>Stack: Rails, MySQL, Passenger, Heroku (Backend developer)</b></li>
<li>
Masterjis provides a platform for students and educational institutes to connect and share
information about different courses and its opportunities.
</li>
<li>
Developed the back-end architecture for the website.Institutes can provide all the information
about courses and tests. Students can pay for a course through online and take tests through
the site.
</li>
<li>
Website provides a scorecard for students based on the courses and tests they have taken and
gives suggestions about the opportunities they have based on their skills.
</li>
</div>
</ul>
</div>


<div class="project_list">
<%= link_to "QuickThoughts", "http://quickthoughts.herokuapp.com/",class: "quickthoughts",target: "_blank" %>
<div class="pro_det">
QuickThoughts provides a secure platform to keep all your  thoughts on-line. There are four repositories for your thoughts;
Home, Personal,Diary, Notes. QuickThoughts provides a simple but efficient User-Interface for adding and viewing thoughts.
</div>
</div>
<div class="project_list">
<%= link_to "SettleItNow", "http://settleitnow.herokuapp.com/",class: "settleitnow",target: "_blank" %>
<div class="pro_det">
SettleItNow is aimed at creating a social networking website to ask questions and post answers. All the basic functions of a
social networking sites have been included in the website with all the essential security features.
</div>
</div>
