<% provide :title, "Rajeev Gallery"  %>
<div class="container gallery">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Gallery</h1>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "The manali trekking group" href= <%= asset_path("manalig.JPG")  %> >
                <img  class="img-responsive"  src= <%= asset_path("manalig.JPG")  %> alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "Manali" href= <%= asset_path("think.jpg")  %> >
                <img  class="img-responsive"  src= <%= asset_path("think.jpg")  %> alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "The himalaya gang" href= <%= asset_path("manali-3.JPG")  %> >
                <img  class="img-responsive"  src= <%= asset_path("manali-3.JPG")  %> alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "In manali with Tiger" href= <%= asset_path("manali-dog.JPG")  %> >
                <img  class="img-responsive"  src= <%= asset_path("manali-dog.JPG")  %> alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "The Mountains" href= <%= asset_path("manali-single.JPG")  %> >
                <img  class="img-responsive"  src= <%= asset_path("manali-single.JPG")  %> alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "Pondicheri trip" href= <%= asset_path("pondi.JPG")  %> >
                <img  class="img-responsive"  src= <%= asset_path("pondi.JPG")  %> alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "BTech batch" href= <%= asset_path("batch.JPG")  %> >
                <img  class="img-responsive"  src= <%= asset_path("batch.JPG")  %> alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "Tada water falls trip" href= <%= asset_path("tada1.JPG")  %> >
                <img  class="img-responsive"  src= <%= asset_path("tada1.JPG")  %> alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "Tada water falls trip" href= <%= asset_path("tada2.jpg")  %> >
                <img  class="img-responsive"  src= <%= asset_path("tada2.jpg")  %> alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "Tada water falls trip" href= <%= asset_path("tada3.jpg")  %> >
                <img  class="img-responsive"  src= <%= asset_path("tada3.jpg")  %> alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "Ponmudi Hills" href= <%= asset_path("ponmudi.jpg")  %> >
                <img  class="img-responsive"  src= <%= asset_path("ponmudi.jpg")  %> alt="">
            </a>
        </div>


        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = " With Balki and PLakshmi Bala" href= <%= asset_path("balki.JPG")  %> >
                <img  class="img-responsive"  src= <%= asset_path("balki.JPG")  %> alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "Manali sunset" href= <%= asset_path("sunset.jpg")  %> >
                <img  class="img-responsive"  src= <%= asset_path("sunset.jpg")  %> alt="">
            </a>
        </div>


        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "Cricket with CC Boys" href= <%= asset_path("cricket.jpg")  %> >
                <img  class="img-responsive"  src= <%= asset_path("cricket.jpg")  %> alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "The guys" href= <%= asset_path("guys.jpg")  %> >
                <img  class="img-responsive"  src= <%= asset_path("guys.jpg")  %> alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "The IIST days" href= <%= asset_path("iist.jpg")  %> >
                <img  class="img-responsive"  src= <%= asset_path("iist.jpg")  %> alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "Neyyar wild-life sanctuary" href= <%= asset_path("neyyar.jpg")  %> >
                <img  class="img-responsive"  src= <%= asset_path("neyyar.jpg")  %> alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "Onam at IIT Madras" href= <%= asset_path("onam.jpg")  %> >
                <img  class="img-responsive"  src= <%= asset_path("onam.jpg")  %> alt="">
            </a>
        </div>


        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = "With mom" href= <%= asset_path("amma.jpg")  %> >
                <img  class="img-responsive"  src= <%= asset_path("amma.jpg")  %> alt="">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" rel="my_pics" caption = " The Jama Masjid evening in Delhi" href= <%= asset_path("juma.jpg")  %> >
                <img  class="img-responsive"  src= <%= asset_path("juma.jpg")  %> alt="">
            </a>
        </div>




    </div>
</div>
