<% provide :title, "Rajeev Ramakrishnan | Web Developer" %>
<div class="row">
  <div class="col-md-2">
      <div class="anim blue-anim">

  <%= image_tag("blue-final.png", :alt => "physics",
   :width => 155, :height => 155, class: "moving_img") %>

  <div id="physics">
  <%= link_to(image_tag("physics.png", :alt => "physics",
     :width => 155, :height => 155),physics_path) %>
  </div>


    </div>

      <figure class="blue">
  <%= image_tag("blue-final.png", :alt => "physics",
   :width => 155, :height => 155) %>
   <figcaption class="blue_figcaption"> Past</figcaption>
   </figure>
  </div>
  <div class="col-md-7 descriprion">
    <h3>Hi, I'm </h3>
    <div class="name">
      Rajeev. R
    </div>
    <div class="abilities">

    <div class="web-developer">
      Passionate Web-Developer
    </div>
    <div class="reader">
      Avid Reader
    </div>
    <div class="physics">
      Occasional Physicist
    </div>
    </div>
    <div class="quote">    <div class="motto">motto</div>
“According to moral absolutism, a challenge in which a successful outcome is
    assured isn't a challenge at all.”</div>
    <div class="choose">
    choose one..
    </div>
  </div>


  <div class="col-md-2">
    <div class="anim red-anim">
    <%= image_tag("red.png", :alt => "Web Development",
   :width => 170, :height => 170,class: "moving_img") %>

   <div id="web">
   <%= link_to(image_tag("web.png", :alt => "Web-development",
      :width => 155, :height => 155),web_path) %>
   </div>
    </div>

  <figure class="red">
    <%= image_tag("red.png", :alt => "Web Development",
   :width => 170, :height => 170) %>
    <figcaption class="red_figcaption"> Future </figcaption>
    </figure>
   </div>

  </div>
<div class="row">
</div>
