<% provide :title, "Web-developer | Rajeev. R" %>
<div class="col-lg-8 col-lg-offset-2" id= "web_det">
  <div class="web_title"> WEB-DEVELOPER </div>
  <div class="intro">
    <%= render 'web_intro' %>
  </div>
  <div id="div_skills">
    <%= render 'web_skills'  %>
  </div>
  <!-- <div class="projects-title">Projects</div> -->
  <div id="div_projects">
    <%= render 'web_projects'  %>
  </div>
<!-- <div id="div_features">
<%= render 'web_features'  %>
</div>
-->
<div class="web_buttons" >
  <%= render 'web_buttons'  %>
</div>
</div>
