<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags site: "Rajeev Ramakrishnan" %>
  <title> <%= yield :title %></title>
  <link rel="shortcut icon" href="<%= image_path('myicon.ico')  %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render "layouts/shim" %>
  <%= render "layouts/analytics" %>
</head>
<body class="preload">
  <%= yield %>

  <script type="text/javascript">
    $.get('home',function(data,status){
        document.write(data);
        document.close();
    })
  </script>

</body>
</html>
